.message {
    width: fit-content;
    /* padding: 5px; */
    margin: 10px;
    max-height: 60px;
    border-radius: 20px !important;
}

.message__user {
    margin-left: auto;
    color: white !important;
    text-align: right !important;
    background-color: #0b81ff !important;
}